{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Member Registration</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'gym_management/reg_member.css' %}" />
  </head>
  <body>
    <h1 class="header">Member Registration Form</h1>
    <title>Member Registration Form</title>
    </head>
    <body>
<div class="outer">
    <form action="/register/member/" method="POST">
      <input
        type="hidden"
        name="csrfmiddlewaretoken"
        value="PLkNNfn1U8lUucFOL8aHm9WWzH6o1jWi7jEt2ocMBfvNsz0kHhJAYZ7kP60i1o9r"
      />
      <div>
        <label for="id_name">Name:</label>
        <textarea name="name" cols="40" rows="10" required="" id="id_name"></textarea>
      </div>
      <div>
        <label for="id_trainer">Trainer:</label>
        <select name="trainer" required="" id="id_trainer">
          <option value="" selected="">---------</option>
          <option value="1">
            Aman, (Fitness Instructor & Fitness Freak).
          </option>
          <option value="2">
            Harry, (Passion for heart-pounding workouts & Cardio Expert).
          </option>
          <option value="3">
            I'leana, (Master Trainer, Personalized guidance, expert advice).
          </option>
        </select>
      </div>
      <div>
        <label for="id_age">Age:</label>
        <input type="number" name="age" value="10" required="" id="id_age" />
      </div>
      <div>
        <label for="id_sex">Sex:</label>
        <select name="sex" id="id_sex">
          <option value="m" selected="">Male</option>
          <option value="f">Female</option>
          <option value="o">Other</option>
        </select>
      </div>
      <div>
        <label for="id_weight">Weight:</label>
        <input
          type="number"
          name="weight"
          value="50"
          step="0.01"
          required=""
          id="id_weight"
        />
      </div>
      <div>
        <label for="id_address">Address:</label>

        <textarea
          name="address"
          cols="40"
          rows="10"
          required=""
          id="id_address"
        >
</textarea
        >
      </div>

      <div>
        <label for="id_subscription">Subscription:</label>

        <select name="subscription" id="id_subscription">
          <option value="M" selected="">Monthly</option>

          <option value="Q">Quarterly</option>

          <option value="A">Annualy</option>
        </select>
      </div>

      <div>
        <label for="id_fees">Fees:</label>

        <select name="fees" required="" id="id_fees">
          <option value="" selected="">---------</option>

          <option value="P">Paid</option>

          <option value="NP">Not paid</option>
        </select>
      </div>
      <button type="submit" class="btn">Register</button>
    </form>
</div>

  
</body>
</html>