<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <title>Member Registration Form</title>
    
</head>
<body>
    <h1>Member Registration</h1>
    <form action="{% url 'register_member' %}" method="POST">
        {% csrf_token %}
        {{ form.as_div }}
        <button type="submit" class="btn">Register</button>
    </form>
</body>
</html> -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet", type="text/css", href="{% static 'reg_member.css' %}">
  </head>
  <body>
    <h1>Member Registration</h1>
    <title>Member Registration Form</title>
    </head>8000
    <body>
<div class="outer">
    <form action="/register/member/" method="POST">
      <input
        type="hidden"
        name="csrfmiddlewaretoken"
        value="PLkNNfn1U8lUucFOL8aHm9WWzH6o1jWi7jEt2ocMBfvNsz0kHhJAYZ7kP60i1o9r"
      />
      <div>
        <label for="id_name">Name:</label>
        <textarea name="name" cols="40" rows="10" required="" id="id_name">
anonymous</textarea
        >
      </div>
      <div>
        <label for="id_trainer">Trainer:</label>
        <select name="trainer" required="" id="id_trainer">
          <option value="" selected="">---------</option>
          <option value="1">
            Pratik Joshi, male 2004-01-02 53416845494 Strength training, weight
            training, cardio
          </option>
        </select>
      </div>
      <div>
        <label for="id_age">Age:</label>
        <input type="number" name="age" value="10" required="" id="id_age" />
      </div>
      <div>
        <label for="id_sex">Sex:</label>
        <select name="sex" id="id_sex">
          <option value="m" selected="">male</option>
          <option value="f">female</option>
          <option value="o">other</option>
        </select>8000er"
          name="height"
          value="0.0"
          step="0.01"
          required=""
          id="id_height"
        />
      </div>
      <div>
        <label for="id_weight">Weight:</label>
        <input
          type="number"
          name="weight"
          value="50"
          step="0.01"
          required=""
          id="id_weight"
        />
      </div>
      <div>
        <label for="id_address">Address:</label>

        <textarea
          name="address"
          cols="40"
          rows="10"
          required=""
          id="id_address"
        >
Jane street, New York</textarea
        >
      </div>

      <div>
        <label for="id_subscription">Subscription:</label>

        <select name="subscription" id="id_subscription">
          <option value="M" selected="">monthly</option>

          <option value="Q">Quarterly</option>

          <option value="A">Annualy</option>
        </select>
      </div>

      <div>
        <label for="id_fees">Fees:</label>

        <select name="fees" required="" id="id_fees">
          <option value="" selected="">---------</option>

          <option value="P">paid</option>

          <option value="NP">Not_paid</option>
        </select>
      </div>
      <button type="submit" class="btn">Register</button>
    </form>
</div>
  </body>
</html>
