{% load static %}
<!DOCTYPE HTML>
<html>
	<head>
		<title>TITAN GYM</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'gym_management/main.css' %}" />
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">
						<div class="inner">

							<!-- Header -->
								<header id="header">
									<!-- <a href="index.html" class="logo"><strong>TITAN GYM</strong> </a> -->
						            <header class="head">
										<h1 class="titan">TITAN <span class="span1">GYM</span></h1>
										<h5 class="your">Your Gym's Strategic Command Center</h5>
					                </header>
									<ul class="icons">
										<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
										<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
										<li><a href="#" class="icon brands fa-snapchat-ghost"><span class="label">Snapchat</span></a></li>
										<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
										<li><a href="#" class="icon brands fa-medium-m"><span class="label">Medium</span></a></li>
									</ul>
								</header>

							<!-- Banner -->
								<section id="banner">
									<div class="content">
										<header>
											<h1>The Real Workout Starts<br />
											When you want to Stop...</h1>
											<p class="yhealth">Your Health, Our Priority !!!</p>
										</header>
										<p>Welcome to Titan Gym, where we believe in pushing boundaries and discovering the strength within. Beyond just physical exercise, we're dedicated to fostering a supportive community that motivates and inspires. Our certified trainers provide expert guidance, ensuring you receive personalized support tailored to your goals.</p>
										<ul class="actions">
											<li><a href="#" class="button big">Learn More</a></li>
										</ul>
									</div>
									<span class="image object">
										<img src="{% static 'gym_management/cover_page.jpg' %}" alt="" />
									</span>
								</section>
							
							
							<!-- Section -->
								<section>
									<header class="major">
										<h2>Why Titan Gym !</h2>
									</header>
									<div class="features">
										<article>
											<span class="icon fa-gem"></span>
											<div class="content">
												<h3>State-of-the-Art Facilities</h3>
												<p>Our gym is equipped with the latest in fitness technology and a wide range of equipment to cater to all your workout needs. From cardio machines to free weights, we have everything you need to achieve your fitness goals</p>
											</div>
										</article>
										<article>
											<span class="icon solid fa-paper-plane"></span>
											<div class="content">
												<h3>Expert Trainers</h3>
												<p>Our team of certified trainers is passionate about helping you succeed. Whether you're a beginner or a seasoned athlete, our trainers are here to provide personalized guidance, motivation, and support every step of the way</p>
											</div>
										</article>
										<article>
											<span class="icon solid fa-rocket"></span>
											<div class="content">
												<h3>Variety of Classes</h3>
												<p>From high-intensity interval training (HIIT) to yoga and everything in between, our group exercise classes offer something for everyone. Join a class and sweat it out with like-minded individuals while having fun and staying motivated.</p>
											</div>
										</article>
										<article>
											<span class="icon solid fa-signal"></span>
											<div class="content">
												<h3>Community Atmosphere</h3>
												<p>At Titan Gym, you're not just another member – you're part of our family. Our supportive community of members and staff creates a welcoming and inclusive environment where everyone feels valued and encouraged to succeed.</p>
											</div>
										</article>
									</div>
								</section>

							<!-- Section -->
								<section>
									<header class="major">
										<h2>Our Services</h2>
									</header>
									<div class="posts">
										<article>
											<a href="#" class="image"><img src="{% static 'gym_management/saketgokhale.jpg' %}" alt="" /></a>
											<h3>Aerobics</h3>
											<p>Elevate your heart rate and boost your metabolism with our dynamic aerobics classes designed to improve cardiovascular fitness and endurance.</p>
											<ul class="actions">
												<li><button class="button"><a href="https://en.wikipedia.org/wiki/Aerobic_exercise" target="_blank">More</a></button></li>
											</ul>
										</article>
										<article>
											<a href="#" class="image"><img src="{% static 'gym_management/rohitchauhan.jpg' %}" alt="" /></a>
											<h3>Cardiovascular Training</h3>
											<p>Utilize our cardio machines and specialized programs to enhance cardiovascular health and burn calories effectively.</p>
											<ul class="actions">
												<li><button class="button"><a href="https://en.wikipedia.org/wiki/Cardiovascular_fitness" target="_blank">More</a></button></li>
											</ul>
										</article>
										<article>
											<a href="#" class="image"><img src="{% static 'gym_management/yoga3.jpg' %}" alt="" /></a>
											<h3>Yoga</h3>
											<p>Discover inner peace and improve flexibility and strength with our yoga classes led by experienced instructors.</p>
											<ul class="actions">
												<li><button class="button"><a href="https://en.wikipedia.org/wiki/Yoga" target="_blank">More</a></button></li>
										</ul>
										</article>
										<article>
											<a href="#" class="image"><img src="{% static 'gym_management/nutritional.jpg' %}" alt="" /></a>
											<h3>Nutrition Councelling</h3>
											<p>Achieve optimal results with personalized nutrition plans designed to complement your fitness routine and lifestyle.</p>
											<ul class="actions">
												<li><button class="button"><a href="https://en.wikipedia.org/wiki/Sports_nutrition" target="_blank">More</a></button></li>
											</ul>
										</article>
										<article>
											<a href="#" class="image"><img src="{% static 'gym_management/nishikamehta.jpg' %}" alt="" /></a>
											<h3>Personal Training</h3>
											<p>We assure to provide you the best with Indias top-notch trainers at Titan gym. Tailored one-on-one sessions with certified trainers to help you achieve your fitness goals efficiently.

											</p>
											<ul class="actions">
												<li><button class="button"><a href="" target="_blank">More</a></button></li>
											</ul>
										</article>
										<article>
											<a href="#" class="image"><img src="{% static 'gym_management/keiani.jpg' %}" alt="" /></a>
											<h3>Specialty Programs</h3>
											<p>Explore our specialized programs, including boot camps, weightlifting clinics, and sports-specific training, to diversify your fitness routine and challenge yourself in new ways.</p>
											<ul class="actions">
												<li><button class="button"><a href="" target="_blank">More</a></button></li>
											</ul>
										</article>
									</div>
								</section>

						</div>
					</div>

				<!-- Sidebar -->
					<div id="sidebar">
						<div class="inner">

							<!-- Search -->
								<section id="search" class="alt">
									<form method="post" action="#">
										<input type="text" name="query" id="query" placeholder="Search" />
									</form>
								</section>

							<!-- Menu -->
								<nav id="menu">
									<header class="major">
										<h2>Menu</h2>
									</header>
									<ul>
										<li><a href="index.html" class="options">Homepage</a></li>
										<li><a href="generic.html" class="options">Generic</a></li>
										<li><a href="elements.html" class="options">Elements</a></li>
										<li><a href="{% url 'register_member' %}" class="options">Member Registration</a></li>
										<li><a href="" class="option">Admin</a></li>
										<li>
											<!-- <span class="opener">Submenu</span> 
											<ul>
												<li><a href="#">Lorem Dolor</a></li>
												<li><a href="#">Ipsum Adipiscing</a></li>
												<li><a href="#">Tempus Magna</a></li>
												<li><a href="#">Feugiat Veroeros</a></li>
											 </ul> -->
										</li>
										<!-- <li><a href="#">Etiam Dolore</a></li> -->
										<!-- <li><a href="#">Maximus Erat</a></li> -->
										<!-- <li><a href="#">Sapien Mauris</a></li> -->
										<!-- <li><a href="#">Amet Lacinia</a></li> -->
									</ul>
								</nav>

							<!-- Section -->
								<section>
									<header class="major">
										<h2>Our Trainers</h2>
									</header>
									<div class="mini-posts">
										<article>
											<a href="#" class="image"><img src="{% static 'gym_management/trainer01.jpg' %}" alt="" /></a>
											<p class="tinfo">Hi, I'm Aman, your dedicated Fitness Instructor here at Titan Gym. With a passion for fitness and a commitment to helping you reach your goals. </p>
										</article>
										<article>
											<a href="#" class="image"><img src="{% static 'gym_management/trainer02.jpg' %}" alt="" /></a>
											<p  class="tinfo">Hey there, I'm Harry, your Cardio Expert at Titan Gym. With a passion for heart-pounding workouts and a dedication to helping you crush your cardio goals. </p>
										</article>
										<article>
											<a href="#" class="image"><img src="{% static 'gym_management/trainer03.jpg' %}" alt="" /></a>
											<p  class="tinfo">Hello, I'm I'leana, your Master Trainer at Titan Gym. I'm dedicated to providing personalized guidance, expert advice, and unwavering support throughout your journey.  </p>
										</article>
									</div>
									<ul class="actions">
										<li><a href="#" class="button">More</a></li>
									</ul>
								</section>

							<!-- Section -->
								<section>
									<header class="major">
										<h2>Get in touch</h2>
									</header>
									<p class="cinfo">Feel free to reach out to us via phone, email, or physically visiting the gym. Get in touch with us today and take the first step towards a healthier, happier you!</p>
									<ul class="contact">
										<li class="mail"><a href="#"><span class="span10">Mail:</span> information@gmail.com</a></li>
										<li class="phone"><span class="span10">Phone:</span> 99880 11111</li>
										<li class="address"><span class="span10">Address:</span> Titan Gym, Nashik<br />
										422001</li>
									</ul>
								</section>

							<!-- Footer -->
								<footer id="footer">
									<p class="copyright">&copy; All rights reserved.<a href="https://unsplash.com"></a>.<a href="https://html5up.net"></a>.</p>
								</footer>

						</div>
					</div>

			</div>
			<div class="main10">
				<img class="image10" src="{% static 'gym_management/pic12.jpg' %}"></img>
				<div class="container10">
					<div class="a10">
					 <h3 class="quote10">Workout Today</h3>
					 <h3 class="quote10">For A Better Tomorrow</h3>
					</div>
					<p>Kickstart your journey towards complete fitness in the gym</p>
					<!--<button class="login-button10"><a href="index_login.html" target="_blank">Login</a></button>-->
					
				</div>
			</div>
             
			<div class="span">
				<span class="span3"></span>
			  </div>
			  <!-- <div class="our">Client Reviews </div> -->
			  <h2 class="our">Client Reviews <h2>
			  <div class="span">
			     <span class="span10"></span>
			  </div>
			  <div class="new">
				<figure class="snip1390">
					<!--<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/profile-sample3.jpg" alt="profile-sample3" class="profile" />-->
					<img src="https://img.freepik.com/free-photo/portrait-white-man-isolated_53876-40306.jpg" alt="profile-sample3" class="profile" />
					<figcaption>
					  <h2>Tanmay Gaikwad</h2>
					  <h4>Designer</h4>
					  <blockquote>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea eveniet, inventore amet nostrum autem nesciunt!</blockquote>
					</figcaption>
				  </figure>
				  <figure class="snip1390 hover"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/profile-sample5.jpg" alt="profile-sample5" class="profile" />
					
					<figcaption>
					  <h2>Pranav Ahire</h2>
					  <h4>Bussinessman</h4>
					  <blockquote>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Distinctio quaerat, amet nemo esse ut corporis?</blockquote>
					</figcaption>
				  </figure>
				  <!--<figure class="snip1390"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/profile-sample6.jpg" alt="profile-sample6" class="profile" />-->
					<figure class="snip1390 hover"><img src="https://media6.ppl-media.com/mediafiles/blogs/shutterstock_1091729747_76e3ce61c2.jpg" alt="profile-sample5" class="profile" />
					<figcaption>
					  <h2>Pratik Joshi</h2>
					  <h4>Public Relations</h4>
					  <blockquote>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Praesentium tenetur possimus architecto excepturi assumenda rerum.</blockquote>
					</figcaption>
				  </figure>

				  <figure class="snip1390 hover"><img src="https://lh3.googleusercontent.com/ebivZJpQFAfBrtBtkSx8IGL9ui4FkxPcAwDnshZfGRMtb99AQFl-Gqn5cQMiFQYERpcUsyCpMrpqUNRxR8klxTNkHXZoJ2SygmXZIYxE=s800-rw" alt="profile-sample5" class="profile" />
					<figcaption>
					  <h2>Nishant Bhise</h2>
					  <h4>Developer</h4>
					  <blockquote>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Praesentium tenetur possimus architecto excepturi assumenda rerum.</blockquote>
					</figcaption>
				  </figure>

				 
				  <script src="sample1.js"></script>
			  </div>
			
 

		<!-- Scripts -->
			<script src="{% static 'gym_management/jquery.min.js' %}"></script>
			<script src="{% static 'gym_management/browser.min.js' %}"></script>
			<script src="{% static 'gym_management/breakpoints.min.js' %}"></script>
			<script src="{% static 'gym_management/util.js' %}"></script>
			<script src="{% static 'gym_management/main.js' %}"></script>

	</body>
</html>