<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Daily weight record</title>
        <meta charset="utf-8">
    </head>
    <body>
        <h1 class="header">Weight Record Form</h1>
        <div class="outer">
            <form action="/weight/record/"  method="POST">
                {% csrf_token %}
                <div>
                    <label for="{{ form.member.id_for_label }}">Member name:</label>
                    {{ form.member }}
                    {{ form.member.errors }}
                </div>
                <div>
                    <label for="{{ form.date.id_for_label }}">Date:</label>
                    {{ form.date }}
                    {{ form.date.errors }}
                </div>
                <div>
                    <label for="{{ form.weight.id_for_label }}">Weight:</label>
                    {{ form.weight }}
                    {{ form.weight.errors }}
                </div>
                <button type="submit"  class="btn">Record my weight</button>
            </form>
        </div>
    </body>
</html>